.App {
  background: rgb(255, 201, 230);
  background: linear-gradient(
    90deg,
    rgba(255, 201, 230, 1) 0%,
    rgba(245, 218, 208, 1) 50%,
    rgba(233, 220, 247, 1) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-main-card {
  padding: 5vw;
  max-height: 80%;
  max-width: 100vh;
}

p {
  font-size: 0.6em;
}

header {
  margin-bottom: 10vh;
}
